{% extends 'base.html' %}


{% block content %}
<div class="container">
    <p>
        Thank you for reaching my website. My name is Harish Lakshmanan and I am an Artificial Intelligence and Machine Learning enthusiast.
        I have spent over 18 years in the Oil and Gas industry as a Mechanical Piping Engineer and continue to do so as my day job.
    </p>
    <a>
        If there is a silver lining with COVID, it is that the fortunate few are able to work from home. This created an immense opportunity for learning.
        I took advantage of the spare time I had by learning AI/ML. I enjoyed reading many books on this subject. I also took courses on Machine Learning
        and Deep Neural Networks from Coursera. I loved learning from the likes of Andrew Ng and hope to continue the journey.
    </p>
    <p>
        It would be unfair if I leave out the hundred and thousands of AI enthusiasts who support open source and are helping the community learn and develop.
        A testament to this is the thousands of youtube videos, medium articles, stack exchange discussions.
    </p>
    <p>
        If you share similar interests and are on this journey of learning Artificial Intelligence and Machine Learning,
        feel free to reach out to me by <a href="mailto:hashkart@gmail.com">emailing</a> me or visiting the contact page.
    </p>
</div>
{% endblock %}
