{% extends 'base.html' %}

{% block content %}
<div class="container">
    <p>
        This page is an audio based classification system.
        The idea is to build a general purpose audio classification system that you can teach to differentiate between different sounds.
        As an example, you can teach the machine to learn the difference between a whistle, a bell and a piano.
        The next phase of the project will add a pretrained model that will learn to recognize audio.
    </p>
</div>
{% endblock %}