{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h4>
        Welcome to tinyTeachers web application.
    </h4>
    <p>
        This website is designed with the young and young at heart in mind.
        The various sections of this web application are designed to allow users to interact with a variety
        of live learning algorithms. The interaction is mostly online, meaning the user first gives the algorithm
        examples from which to learn from. Then the user can test how well the algorithm (or machine) has learned.
    </p>
    <p>
        The machine has previously learned a similar task in most cases. That makes it easier for the machine to
        learn faster new tasks that are similar.
    </p>
    <p>
        The way machines learn is very different from the way human beings learn. During the learning process the
        machine is trying to learn statistical patterns of mathematical representation of a task. To best interact
        and evaluate, keeping in mind the young audience, most tasks are classification based, i.e. identify one of
        three possibilities.
    </p>
    <p>
        Choose one of the tabs above and enjoy!
    </p>
</div>

{% endblock %}

